@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #2e2b2c;
    color: #eaeaea;
    /* color: whitesmoke; */
    width: 100vw;
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
    padding-left: 100px;
    padding-right: 100px;
}
.animatedButton{
    animation-duration: 10000ms;    
}