#mainbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 10vh;
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    img{
        width: 2rem;
        height: 2rem;
    }
    span{
        font-weight: 600;
    }
}
#mobileMenu{
    display: none;
}
#menubarMobile{
    cursor: pointer;
}
/* #menuList:active{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
    padding: 1rem 2rem;
} */
@media screen and (min-width: 768px) {
    #mobileMenu{
        display: none;
    }
    #desktopMenu{
        display: flex;
    }
}
@media screen and (max-width: 768px) {
    #mobileMenu{
        display: flex;
    }
    #desktopMenu{
        display: none;
    }
}
hr{
    background-color: #e97160;
    color: #e97160;
}
#desktopMenu{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    button{
        padding:3px;
        /* border: 1px solid #000; */
        border-radius: 25px;
        cursor: pointer;
        background-color:  #e97160;
        color: #eaeaea; 
    }
    div:hover{
        hr{
            border: 1px solid #000000;
            width: 100%;
            margin: 0;
            padding: 0;
            animation-name: menubarHorizontal;
            animation-duration: 1s; 
            animation-fill-mode: forwards;
            
        }
    }
}
@keyframes menubarHorizontal {
    0%{
       width: 0;
    }
    100%{
        width: 100%;
    }
    
}

/* MainCategories */
#main-categories{
    margin-top: 10px;
    display: flex;
    /* background: #fdfdfd; */
    background: #a6a6a6;
    border: #030303 2px solid;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 10px;
    /* padding: 2rem; */
    /* height: 8vh; */
    border-radius: 25px;
    #Link-categories{
        display: flex;
        flex-direction: row;
        gap: 1.75rem;
        flex-wrap: wrap;
        /* padding: 2rem ; */
        align-items: center;
        #all-posts{
            padding:10px;
            border-radius: 25px;
            background:#e97160;
            cursor: pointer;
            color: #eaeaea;
        }
        #remaining-posts{
            padding:10px;
            border-radius: 25px;
            cursor: pointer;
            background-color:  #a6a6a6;
            color: #000000;
        }
        #remaining-posts:hover{
            background: #e97160;
            color: #eaeaea;
        }
    }
}
@media screen and (max-width: 768px) {
    #main-categories{
        display: none;
    }
}
@media screen and (min-width:800px) {
    #main-categories{
        display: flex;
    }
}

/* FeaturedComponent */
 #main-featuredComponents{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem; 
height: 50%;
}
#left-featuredComponent{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 50%;
    img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
    #left-post-one{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        #left-post-one-top{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
            flex-wrap: wrap;
            p{
                /* color: #010101; */
                color: #eaeaea;
               
            }
            h1{
                font-weight: 600;
                /* color: #8686e8; */
                color: #eaeaea;
            }
            span{
                /* color: #4d4d50; */
                color: #eaeaea;
            }
        }
        #main{
            font-weight: 700;
            font-size: 20px;
            /* color: #242323; */
            color: #eaeaea;
        }
    }
}
#right-featuredComponent{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 50%;
}
#right-second{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    img{
        width: 150px;
        height: 150px;
        border-radius: 25px;
    }
    #left-post-one{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        #left-post-one-top{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
            flex-wrap: wrap;
            p{
                /* color: #010101; */
                color: #eaeaea;
            }
            h1{
                font-weight: 600;
                /* color: #8686e8; */
                color: #eaeaea;
            }
            span{
                /* color: #4d4d50; */
                color: #eaeaea;
            }
        }
        #main{
            font-weight: 500;
            font-size: 15px;
            /* color: #030303; */
            color: #eaeaea;
        }
    }
}

/* post-List-css */
#main-postList-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.25rem;
    gap: 1rem;
    
    /* height: 40vh; */
}
#left-postList-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    img{
        width: 80%;
        height: 80%;
        border-radius: 25px;
    }
}
#right-postList-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    /* width: 50%; */
    h1{
        font-weight: 600;
        /* color: #2d2d2e; */
        color: #eaeaea;
        font-size: 25px;
    }
    #authors-title-time{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        p{
            /* color: #424040; */
            color: #eaeaea;
            /* padding-right: 2px; */
        }
        span{
            /* color: #000000; */
            color: #eaeaea;
            padding: 2px;
            font-size: 16px;
            font-weight: 600;
        }
    }
    p{
        font-size: 13px;
    }
    
}

#single-top-page{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    #head-top-page{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: start;
        h1{
            font-size: 30px;
            font-weight: 600;
        }
        #authors-title-time{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
            p{  
                /* color: #424040; */
                color: #eaeaea;
                font-size: 15px;                
            }
            span{
                /* color: #000000; */
                color: #eaeaea;
                padding: 2px;
                font-size: 16px;
                font-weight: 600;
            }
        }
        p{
            font-size: 13px;
        }
    }
    #image-top-page{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        img{
            width: 60%;  
            border-radius: 25px;          
        }
    }
}
@media screen and (min-width: 768px) {
    #image-top-page{
        display: none;
    }
    #head-top-page{
        width: 100%;
    }
}
@media screen and (min-width: 1024px) {
    #image-top-page{
        display: none;
    }
    #head-top-page{
        width: 100%;
    }
    
}
#single-bottom-page{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* align-items: center; */
    #bottom-left{
        display: flex;
        /* border: 2px solid black; */
        flex-direction: column;
        gap: 0.75rem;
        /* align-items: start; */
        p{
            font-size: 17px;
            text-align: justify;
        }
    }
}
#bottom-right-menu{
    /* border: 2px solid black; */
    /* margin: 0; */
    padding: 10px;
    display: flex;
    height: fit-content;
    flex-direction: column;
    gap: 1rem;
    justify-content: start;
    position:sticky;
    top: 5px;

    #one-author{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        h3{
            
            font-weight: 600;
        }
        #profile{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
            img{
                width: 50px;
                height: 50px;
                border-radius: 50px;
            }
        }
        #bio{
            display: flex;
            font-size: 12px;

        }
        #Socials{
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }
    }
    #two-Actions{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        h3{
            font-weight: 600;
        }
        #action-1{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            img{
                width: 20px;
                height: 20px;
            }
        }
        #action-2{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
    #three-categories{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        h3{
            font-weight: 600;
        }
        #category{
            text-decoration: underline;
        }
    }
    #search-four{
        h3{
            font-weight: 600;
            margin:5px;
        }
    }
}
 /* Comments , comments single */

 #comment-input{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    input{
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    button{
        padding: 10px 20px;
        background-color: #000000;
        /* color: #fff; */
        color: #eaeaea;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    button:hover{
        background-color:  #e97160;
    }
}
#comment-box{
    display: flex;
    flex-direction: column;
    height: fit-content;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    #title-author-box{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50px;
        }
        span{
            font-weight: 600;
            color:  #e97160;
        }
        p{
            font-size: 12px;
        }
    }
    #comment{
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items: center;
        p{
            font-size: 15px;
        }
    }
}

#search-four{
    h2{
        font-weight: 600;
        margin:5px;
    }
}
#three-categories{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h3{
        font-weight: 600;
    }
    #category{
        text-decoration: underline;
    }
}
#filters{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    h2{
        font-weight: 600;
    }
    #one{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
    }
}
#main-menu{
    display: flex;
    margin-top: 35PX;
    flex-direction: column;
    gap: 1rem;
    position: sticky;
    top: 0;
}