#mainbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 10vh;
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    img{
        width: 2rem;
        height: 2rem;
    }
    span{
        font-weight: 600;
    }
}
#mobileMenu{
    display: none;
}
#menubarMobile{
    cursor: pointer;
}
/* #menuList:active{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
    padding: 1rem 2rem;
} */
@media screen and (min-width: 768px) {
    #mobileMenu{
        display: none;
    }
    #desktopMenu{
        display: flex;
    }
}
@media screen and (max-width: 768px) {
    #mobileMenu{
        display: flex;
    }
    #desktopMenu{
        display: none;
    }
}

#desktopMenu{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    button{
        padding: 0.5rem 1rem;
        /* border: 1px solid #000; */
        border-radius: 25px;
        cursor: pointer;
        background-color:  #8686e8;
        color: #ffffff;
    }
    div:hover{
        hr{
            border: 1px solid #000000;
            width: 100%;
            margin: 0;
            padding: 0;
            animation-name: menubarHorizontal;
            animation-duration: 1s; 
            animation-fill-mode: forwards;
            
        }
    }
}
@keyframes menubarHorizontal {
    0%{
       width: 0;
    }
    100%{
        width: 100%;
    }
    
}

/* MainCategories */
#main-categories{
    margin-top: 10px;
    display: flex;
    background: #fdfdfd;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 10px;
    /* padding: 2rem; */
    /* height: 8vh; */
    border-radius: 25px;
    #Link-categories{
        display: flex;
        flex-direction: row;
        gap: 1.75rem;
        flex-wrap: wrap;
        /* padding: 2rem ; */
        align-items: center;
        #all-posts{
            padding:10px;
            border-radius: 25px;
            cursor: pointer;
            background-color:  #8686e8;
            color: #ffffff;
        }
        #remaining-posts{
            padding:10px;
            border-radius: 25px;
            cursor: pointer;
            background-color:  #ffffff;
            color: #000000;
        }
        #remaining-posts:hover{
            background-color:  #8686e8;
            color: #ffffff;
        }
    }
}
@media screen and (max-width: 768px) {
    #main-categories{
        display: none;
    }
}
@media screen and (min-width:800px) {
    #main-categories{
        display: flex;
    }
}

/* FeaturedComponent */
#main-featuredPost{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 80vw;
    height: 70vh;
    flex-wrap: wrap;

    #first-featuredPost{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 0.75rem;
        img{
            border-radius: 25px;
            height: 75%;
            width:75%;
        }
        #details-post{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            h1{
                color: #000000;
            }
            Link{
                font-weight: 600;
            }
            span{
                color: #6666e7;
            }
        }   
    }
    #featured-remaining-three{
        display: flex;
        flex-direction: column;
        gap: 1rem;

        #second-post{
            display: flex;
            flex-direction: row;
            gap: 1rem;
            align-items: center;
            img{
                border-radius: 25px;
                height: 120px;
                width: 120px;
            }
            #details-post-second{
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: center;
                h1{
                    color: #000000;
                }
                Link{
                    font-weight: 600;
                }
                span{
                    color: #6666e7;
                }
            }   
        }
    }
}