#mainbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    height: 10vh;
}
#logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    img{
        width: 2rem;
        height: 2rem;
    }
    span{
        font-weight: 600;
    }
}
#mobileMenu{
    display: none;
}
#menubarMobile{
    cursor: pointer;
}
/* #menuList:active{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
    padding: 1rem 2rem;
} */
@media screen and (min-width: 768px) {
    #mobileMenu{
        display: none;
    }
    #desktopMenu{
        display: flex;
    }
}
@media screen and (max-width: 768px) {
    #mobileMenu{
        display: flex;
    }
    #desktopMenu{
        display: none;
    }
}

#desktopMenu{
    display: flex;
    gap: 1.5rem;
    align-items: center;
    button{
        padding: 0.5rem 1rem;
        /* border: 1px solid #000; */
        border-radius: 25px;
        cursor: pointer;
        background-color:  #8686e8;
        color: #ffffff;
    }
    div:hover{
        hr{
            border: 1px solid #000000;
            width: 100%;
            margin: 0;
            padding: 0;
            animation-name: menubarHorizontal;
            animation-duration: 1s; 
            animation-fill-mode: forwards;
            
        }
    }
}
@keyframes menubarHorizontal {
    0%{
       width: 0;
    }
    100%{
        width: 100%;
    }
    
}

/* MainCategories */
#main-categories{
    margin-top: 10px;
    display: flex;
    background: #fdfdfd;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    padding: 10px;
    /* padding: 2rem; */
    /* height: 8vh; */
    border-radius: 25px;
    #Link-categories{
        display: flex;
        flex-direction: row;
        gap: 1.75rem;
        flex-wrap: wrap;
        /* padding: 2rem ; */
        align-items: center;
        #all-posts{
            padding:10px;
            border-radius: 25px;
            cursor: pointer;
            background-color:  #8686e8;
            color: #ffffff;
        }
        #remaining-posts{
            padding:10px;
            border-radius: 25px;
            cursor: pointer;
            background-color:  #ffffff;
            color: #000000;
        }
        #remaining-posts:hover{
            background-color:  #8686e8;
            color: #ffffff;
        }
    }
}
@media screen and (max-width: 768px) {
    #main-categories{
        display: none;
    }
}
@media screen and (min-width:800px) {
    #main-categories{
        display: flex;
    }
}

/* FeaturedComponent */
 #main-featuredComponents{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    gap: 2rem; 
height: 50%;
}
#left-featuredComponent{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 50%;
    img{
        width: 100%;
        height: 100%;
        border-radius: 25px;
    }
    #left-post-one{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        #left-post-one-top{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
            flex-wrap: wrap;
            p{
                color: #010101;
            }
            h1{
                font-weight: 600;
                color: #8686e8;
            }
            span{
                color: #4d4d50;
            }
        }
        #main{
            font-weight: 700;
            font-size: 20px;
            color: #242323;
        }
    }
}
#right-featuredComponent{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 50%;
}
#right-second{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    img{
        width: 150px;
        height: 150px;
        border-radius: 25px;
    }
    #left-post-one{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        #left-post-one-top{
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
            flex-wrap: wrap;
            p{
                color: #010101;
            }
            h1{
                font-weight: 600;
                color: #8686e8;
            }
            span{
                color: #4d4d50;
            }
        }
        #main{
            font-weight: 500;
            font-size: 15px;
            color: #030303;
        }
    }
}

/* post-List-css */
#main-postList-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.25rem;
    gap: 1rem;
    /* height: 40vh; */
}
#left-postList-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 50%; */
    img{
        width: 80%;
        height: 80%;
        border-radius: 25px;
    }
}
#right-postList-card{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: start;
    /* width: 50%; */
    h1{
        font-weight: 600;
        color: #2d2d2e;
        font-size: 25px;
    }
    #authors-title-time{
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        align-items: center;
        p{
            color: #424040;
            /* padding-right: 2px; */
        }
        span{
            color: #000000;
            padding: 2px;
            font-size: 16px;
            font-weight: 600;
        }
    }
    p{
        font-size: 13px;
    }
    
}